.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #495E57;
    padding: 20px 20%;
  }

  .hero-div h1 {

    color: #F4CE14;
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
line-height: 145px;
margin:0;
margin-bottom: -50px;
font-size: 3rem;
  }

  .hero-div h3 {
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
line-height: 82px;
color: #FFFFFF;
font-size: 1.5rem;
margin: 0;
/* margin-bottom: -50px; */
  }

  .hero-div p {
    font-size: 1rem;
    margin-bottom: 2rem;
    width: 60%;
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
line-height: 20px;
color: #FFFFFF;
  }

  .hero-div button {
    padding: 1rem 2rem;
    border: none;
    font-size: 1.2rem;
    background-color: #F4CE14;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
line-height: 20px;
color: #000000;
border-left: auto;
border-right: auto;
  }

  .hero-div button:hover {
    background-color: #9B8100;
  }

  .hero img {
    margin-top: 50px;
    width: 40%;
    margin-left: auto;
    border-radius: 20px;
  }

  .specials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .specials-h2-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  .specials-h2-button h2 {
    margin-right: 2rem;
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
color: #000000;
  }
  .specials-h2-button button{
    border-radius: 30px;
    border: none;
    font-size: 1.2rem;
    background-color: #F4CE14;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
line-height: 20px;
color: #000000;
margin-left: 50%;
  }
  .specials-h2-button button:hover {
    background-color: #9B8100;
  }

  .specials-3best {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  @media (max-width: 600px) {
    .specials-3best {
      /* Display the cards vertically */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .cardMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 26px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 1rem;
    transition: transform 0.2s ease-in-out;
  }
  @media (max-width: 600px) {
    .cardMenu{
        width: 70%;
    }
  }
  .cardMenu:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .cardMenu img {
    border-radius: 26px 26px 0px 0px;
    margin-bottom: 1rem;
    width: 100%;
  }

  .cardMenu h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
color: #000000;
  }

  .cardMenu h4 span {
    font-size: 1rem;
    font-weight: 400;
    color: #DF9300;
    margin-left: 1rem;
  }

  .cardMenu p {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
color: #000000;
margin: 20px;
  }

  .constumerSays {
    background: #FFF7EE;
    padding: 2rem;
    text-align: center;
  }

  .constumerSays h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
color: #000000;
  }

  .comments {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
    .comments {
      flex-direction: column;
      align-items: center;
    }
  }
  .chicago {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .chicago-test {
    flex-basis: 50%;
    text-align: center;
  }
  
  .chicago-test h1 {
    font-size: 3rem;
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
color: #000000;
margin: 0;
  }
  
  .chicago-test h3 {
    font-size: 1.5rem;
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 82px;
color: #000000;
margin: 0;
  }
  
  .chicago-test p {
    font-size: 1.2rem;
    font-family: 'Javanese Text';
font-style: normal;
font-weight: 400;
color: #000000;
margin: 0;
  }
  
  .chicago-images {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  
  .chicago-images img {
    width: 48%;
    height: auto;
  }
  
  @media screen and (max-width: 768px) {
    .chicago {
      flex-direction: column;
    }
    
    .chicago-test {
      flex-basis: 100%;
    }
    
    .chicago-images {
      flex-basis: 100%;
      margin-top: 2rem;
      justify-content: center;
    }
    
    .chicago-images img {
      width: 100%;
    }
  }
  .chicago-images {
    position: relative;
  }
  
  .chicago-images img {
    position: absolute;
    top: -147px;
    left: 312px;
  }
  
  .chicago-images img:last-child {
    top: -89px;
    left: 165px;
  }